<meta name="viewport" content="widthe=device-width,user-scalable=no" />
<h1>Les histoires de Fifi et Rhino</h1>
<div>
  <form>
    <label>Login :</label>
    <input
      type="text"
      [(ngModel)]="userName"
      name="name"
      placeholder=" login"
    />
    <br />
    <br />
    <label>Passsword :</label>
    <input
      type="password"
      [(ngModel)]="userPassword"
      name="password"
      placeholder="password"
    />
    <br />
    <br />
    <input type="submit" (click)="sendCreds()" value="Login" />
  </form>
  <p class="error">{{ error }}</p>
</div>
