<div>
  <p>powered by OpenAI</p>
  <br />
</div>
<div>
  <form>
    <label>Fifi et Rhino vont : </label>
    <input
      type="text"
      [(ngModel)]="storyPlace"
      name="place"
      placeholder=" à la montagne"
    />
    <br />
    <br />
    <label>Pour : </label>
    <input
      type="text"
      [(ngModel)]="storyPurpose"
      name="purpose"
      placeholder=" faire du vélo"
    />
    <br />
    <label>avec illustration :</label
    ><input type="checkbox" [(ngModel)]="illustrated" name="illustration" />
    <br />
    <button (click)="generateStory()">Generate Story</button>
  </form>
</div>
<br />
<div *ngIf="isloading" id="loading"></div>
<br />
<div>
  <p>{{ story }}</p>
</div>

<div>
  <img *ngIf="imgsrc" src="{{ imgsrc }}" width="512" height="512" />
</div>
