<meta name="viewport" content="widthe=device-width,user-scalable=no" />
<h1>Les histoires de Fifi et Rhino</h1>

<div>
  <button (click)="gotoCollection()">Accéder aux anciennes histoires</button>
  <button *ngIf="admin" (click)="gotoAdmin()">Admininistrer</button>
</div>
<div>
  <form>
    <label>Fifi et Rhino vont : </label>
    <input
      type="text"
      [(ngModel)]="storyPlace"
      name="place"
      placeholder=" à la montagne"
    />
    <br />
    <br />
    <label>Pour : </label>
    <input
      type="text"
      [(ngModel)]="storyPurpose"
      name="purpose"
      placeholder=" faire du vélo"
    />
    <br />
    <br />
    <label>Avec : </label>
    <input
      type="text"
      [(ngModel)]="storyCompanion"
      name="companion"
      placeholder=" leur ami Roger"
    />
    <br />
    <br />
    <label class="container"
      >avec illustration
      <input type="checkbox" [(ngModel)]="illustrated" name="illustrated" />
      <span class="checkmark"></span>
    </label>
    <br />
    <br />
    <label>Créativité : {{ temperature / 10 }}</label>
    <input
      type="range"
      min="1"
      max="9"
      value="5"
      class="slider"
      id="myRange"
      name="temperature"
      [(ngModel)]="temperature"
    />
    <br />
    <br />
    <span *ngIf="admin">
      <label>Modèle</label>
      <select [(ngModel)]="selectedModel" name="selectedmodel">
        <option
          *ngFor="let m of Models"
          [ngValue]="m"
          name="m.fine_tuned_model"
        >
          {{ m.fine_tuned_model }}
        </option>
      </select>
      <p>selected Model : {{ selectedModel.fine_tuned_model }}</p>
      <br />
      <br />
    </span>
    <button
      (click)="generateStory()"
      [disabled]="completed || isloading_txt || !modelsloaded"
    >
      Créer une histoire
    </button>
    <br />
    <br />
    <button (click)="reset()" [disabled]="!completed">Recommencer</button>
  </form>
</div>
<div>
  <div *ngIf="isloading_txt" id="loading"></div>
  <p>{{ story }}</p>
</div>

<div class="images" *ngIf="illustrated">
  <div *ngIf="isloading_img" id="loading"></div>
  <div class="gallery" *ngFor="let i of imgsrc; let j = index">
    <label>
    <input type="radio" (click)="selected(i,j)" [checked]="ischecked[j]">
  <img
    *ngIf="i"
    src="data:image/png;base64,{{ i }}"
    width="512"
    height="512"
  />
</label>
  </div>
</div>

<div *ngIf="admin">
  <button
    (click)="saveStory()"
    [disabled]="!completed || !completedimg || allsaved"
  >
    Enregistrer l'histoire complète
  </button>
  <p>{{ message_img }}</p>
  <p>{{ message_story }}</p>
</div>

<div>
  <p>connecté en tant que : {{ login }}</p>
  <button class="delete" (click)="logout()">Logout</button>
</div>
