<meta name="viewport" content="widthe=device-width,user-scalable=no" />
<h1>Les histoires de Fifi et Rhino</h1>
<div>
  <form>
    <label>Fifi et Rhino vont : </label>
    <input
      type="text"
      [(ngModel)]="storyPlace"
      name="place"
      placeholder=" à la montagne"
    />
    <br />
    <br />
    <label>Pour : </label>
    <input
      type="text"
      [(ngModel)]="storyPurpose"
      name="purpose"
      placeholder=" faire du vélo"
    />
    <br />
    <br />
    <label>Avec : </label>
    <input
      type="text"
      [(ngModel)]="storyCompanion"
      name="companion"
      placeholder=" leur ami Roger"
    />
    <br />
    <br />
    <label class="container"
      >avec illustration
      <input type="checkbox" [(ngModel)]="illustrated" name="illustrated" />
      <span class="checkmark"></span>
    </label>
    <br />
    <br />
    <label>Créativité : {{ temperature / 10 }}</label>
    <input
      type="range"
      min="1"
      max="9"
      value="5"
      class="slider"
      id="myRange"
      name="temperature"
      [(ngModel)]="temperature"
    />
    <br />
    <br />
    <input
      type="submit"
      (click)="generateStory()"
      value="Créer une histoire"
      [disabled]="completed || isloading_txt"
    />
    <br />
    <br />
    <input
      type="submit"
      (click)="reset()"
      value="Recommencer"
      [disabled]="!completed"
    />
  </form>
</div>
<div>
  <div *ngIf="isloading_txt" id="loading"></div>
  <p>{{ story }}</p>
</div>

<div *ngIf="illustrated">
  <div *ngIf="isloading_img" id="loading"></div>
  <img *ngIf="imgsrc" src="{{ imgsrc }}" width="512" height="512" />
</div>

<div *ngIf="admin">
  <button (click)="editStory()" [disabled]="isEditing || !completed">
    Améliorer l'histoire
  </button>
  <textarea
    *ngIf="isEditing"
    [(ngModel)]="EditedStory"
    name="editedstory"
  ></textarea>
  <button (click)="sendFeedback()" [disabled]="!isEditing">
    Enregistrer l'histoire améliorée
  </button>
  <p>{{ message }}</p>
</div>

<div>
  <p>connecté en tant que : {{ login }}</p>
  <button (click)="logout()">Logout</button>
</div>
