<meta name="viewport" content="widthe=device-width,user-scalable=no" />
<h1>Les histoires de Fifi et Rhino</h1>
<br />
<h2>Admin Page</h2>

<div>
  <button routerLink="/story">Revenir aux histoires</button>
</div>

<h2>Fichiers de Training Uplodés</h2>

<div>
  <div *ngIf="isloadingfiles" id="loading"></div>
  <table>
    <tr>
      <th>File ID</th>
      <th>File Name</th>
      <th>Created at</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let file of myFiles">
      <td>{{ file.id }}</td>
      <td>{{ file.filename }}</td>
      <td>{{ file.created_date | date: 'dd/MM/yy HH:mm' }}</td>
      <td><a (click)="deleteTrainingFile(file.id)">Supprimer</a></td>
    </tr>
  </table>
  <p>{{ fileMessage }}</p>
</div>

<div>
  <button
    (click)="getTrainingFiles()"
    [disabled]="isloadingfiles || completefile"
  >
    Lister les fichiers disponibles
  </button>

  <button
    (click)="uploadTrainingFile()"
    [disabled]="isloadingfiles || !complete"
  >
    Uploader le fichier courant
  </button>
</div>

<h2>Données de training sur le serveur</h2>

<div>
  <button (click)="getTrainingData()" [disabled]="isloading || complete">
    Récupérer les données de training
  </button>
  <button *ngIf="complete" (click)="saveTrainingData()" [disabled]="!changed">
    Enregistrer les données de training
  </button>
  <br />
  <p>{{ message }}</p>
</div>

<div *ngIf="isloading" id="loading"></div>

<ul>
  <li *ngFor="let train of trainingDataSet; let i = index">
    <div>
      <textarea
        [disabled]="!editingList[i]"
        [(ngModel)]="train.completion"
      ></textarea>
      <br />
      <button [disabled]="editingList[i]" (click)="toggle(i)">Modifier</button>
      <button [disabled]="!editingList[i]" (click)="toggle(i)">
        Enregistrer
      </button>
    </div>
  </li>
</ul>

<div>
  <p>connecté en tant que : {{ login }}</p>
  <button (click)="logout()">Logout</button>
</div>
