<meta name="viewport" content="widthe=device-width,user-scalable=no" />
<h1>Les histoires de Fifi et Rhino</h1>
<br />
<h2>Admin Page</h2>

<div>
  <button routerLink="/story">Revenir aux histoires</button>
</div>

<br />

<h2>Fichiers de Training Uplodés</h2>

<div>
  <div *ngIf="isloadingfiles" id="loading"></div>
  <table>
    <tr>
      <th>File ID</th>
      <th>File Name</th>
      <th>Created at</th>
      <th colspan="2">Actions</th>
    </tr>
    <tr *ngFor="let file of myFiles">
      <td>{{ file.id }}</td>
      <td>{{ file.filename }}</td>
      <td>{{ file.created_at * 1000 | date: 'dd/MM/yy HH:mm' }}</td>
      <td><a (click)="deleteTrainingFile(file.id)">Supprimer</a></td>
      <td><a id="train" (click)="StartTrainingJob(file.id)">Entrainer</a></td>
    </tr>
  </table>
  <p>{{ fileMessage }}</p>
</div>

<div>
  <button
    (click)="getTrainingFiles()"
    [disabled]="isloadingfiles || completefile"
  >
    Lister les fichiers disponibles
  </button>

  <button
    (click)="uploadTrainingFile()"
    [disabled]="isloadingfiles || !complete"
  >
    Uploader le fichier courant
  </button>
</div>

<br />

<h2>Jobs d'entrainements en cours</h2>

<div>
  <div *ngIf="isloadingFineTunes" id="loading"></div>
  <table>
    <tr>
      <th>Job ID</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
    <tr *ngFor="let ft of myFineTunes">
      <td>{{ ft.id }}</td>
      <td>{{ ft.created_at * 1000 | date: 'dd/MM/yy HH:mm' }}</td>
      <td>{{ ft.updated_at * 1000 | date: 'dd/MM/yy HH:mm' }}</td>
      <td>{{ ft.status }}</td>
      <td><a id="train" (click)="getFineTuneDetails(ft.id)">Details</a></td>
      <td>
        <span *ngIf="ft.status !== 'cancelled'">
          <a (click)="cancelFineTuneJob(ft.id)">Annuler</a>
        </span>
        <span *ngIf="ft.status === 'cancelled'">
          <a id="inactive">Annuler</a>
        </span>
      </td>
    </tr>
  </table>
  <p>{{ finetunemessage }}</p>
</div>

<div *ngIf="jobDetail && isjobvisible">
  <p>Historique du Job {{ jobDetail.id }}</p>
  <br />
  <table>
    <tr>
      <th>Date</th>
      <th>Event</th>
    </tr>
    <tr *ngFor="let det of jobDetail.events">
      <td>{{ det.created_at * 1000 | date: 'dd/MM/yy HH:mm' }}</td>
      <td>{{ det.message }}</td>
    </tr>
  </table>
  <br />
  <a (click)="closeDetail()">fermer</a>
</div>

<div>
  <button (click)="listFineTuneJobs()" [disabled]="isloadingFineTunes">
    Lister les Jobs en cours
  </button>
</div>

<br />

<h2>Données de training sur le serveur</h2>

<div>
  <button (click)="getTrainingData()" [disabled]="isloading || complete">
    Récupérer les données de training
  </button>
  <button *ngIf="complete" (click)="saveTrainingData()" [disabled]="!changed">
    Enregistrer les données de training
  </button>
  <br />
  <p>{{ message }}</p>
</div>

<div *ngIf="isloading" id="loading"></div>

<ul>
  <li *ngFor="let train of trainingDataSet; let i = index">
    <div>
      <textarea
        [disabled]="!editingList[i]"
        [(ngModel)]="train.completion"
      ></textarea>
      <br />
      <button [disabled]="editingList[i]" (click)="toggle(i)">Modifier</button>
      <button [disabled]="!editingList[i]" (click)="toggle(i)">
        Enregistrer
      </button>
      <button *ngIf="testing" (click)="testFunctions(i)">
        Convertir histoire {{ i }}
      </button>
    </div>
  </li>
</ul>

<div>
  <p>connecté en tant que : {{ login }}</p>
  <button (click)="logout()">Logout</button>
</div>
