@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
  margin-top: 50px;
  background-color: black;
  color: white;
}

h1 {
  font: 2em 'verdana';
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.highlight {
  background-color:#FFFF00;
}

span.menu {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

p.nav {
  font: 2em 'verdana';
  font-weight: bold;
}

a.nav {
  font: 3em 'verdana';
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: center;
  font-weight: bold;
  color: #4caf50;
  cursor: pointer;
}

a.nav:hover {
  color: black;
  cursor: pointer;
}

h2 {
  font: 1.5em 'verdana';
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: black;
}

textarea {
  width: 100%;
  height: 400px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

p,
label {
  font: 1em 'verdana';
  font-weight: bold;
  color: black;
  margin-left: 20px;
}

::placeholder {
  font: 1em 'verdana';
}

#small_loading {
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 0px;
  margin-bottom: 0px;
  background-color: grey;
  margin-left: 50px;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

#loading {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}

input[type='submit'],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

input[type='submit']:hover,
button:hover {
  background-color: #45a049;
}

input[type='submit']:disabled,
button:disabled {
  background-color: grey;
}

button.delete {
  background-color: #ec3655;
}

button.delete:hover {
  background-color: #ec3654c5;
}

button.delete:disabled {
  background-color: grey;
}

button.play,.pause,.stop {
  width: 33%;
  margin: 5px;
}

button.stop {
  background-color: #ec3655;
}

img.standalone {
  margin-left: 144px;
}

div.card {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  white-space: pre-line;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 3px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 1em 'verdana';
  font-weight: bold;
  color: black;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: solid #ccc;
  border-width: thin;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button.delete,.stop {
  background-color: #ec3655;
}

button.delete:hover,.stop:hover {
  background-color: #ec3654c5;
}

/* Gallery Stuff*/

div.container {
  padding: 20px 0%;
  background-color: #f2f2f2;
}

ul {
  list-style: none;
  padding: 0;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: '';
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend {
  margin-left: 10px;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}

.popupclosed {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 2px solid #666;
  z-index: 9;
}

.popupopen {
  display: block;
  position: fixed;
  left: 45%;
  top: 0%;
  width: 90%;
  height: 600px;
  overflow: auto;
  transform: translate(-45%, 5%);
  border: 2px solid #666;
  z-index: 9;
}

.popupcontent {
  white-space: pre-line;
}

.popupimage {
  width: 512px;
  height: 512px;
  margin-left: 20%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
