<h1>Les histoires de Fifi et Rhino</h1>

<div class="card">
  <button (click)="gotoStories()">Créer une nouvelle histoire</button>
  <button *ngIf="admin" (click)="gotoAdmin()">Administrer</button>
</div>

<div class="card">
  <button (click)="getStories()" [disabled]="storyBookLoaded">
    Récupérer les Histoires
  </button>
</div>

<div *ngIf="storyBookLoading">
  <div *ngIf="storyBookLoading" id="loading"></div>
</div>

<div id="top" class="container" *ngIf="storyBookLoaded">
  <ul class="image-gallery">
    <li *ngFor="let story of storyBook; let i = index">
      <img src="{{ storyBook[i].image }}" />
      <div [ngClass]="popupclass[i]">
        <span (click)="closepopup(i)" class="close">&times;</span>
        <h2>
          Fifi et Rhino vont {{ currStory.location }} pour
          {{ currStory.purpose }}
          <span *ngIf="currStory?.companion"
            >avec {{ currStory.companion }}</span
          >
        </h2>
        <img class="popupimage" src="{{ storyBook[i].image }}" />
        <p class="popupcontent">{{ storyBook[i].text }}</p>
        <span (click)="closepopup(i)" class="close">&times;</span>
      </div>
      <div class="overlay" (click)="setCurrStory(i)">
        <span class="legend">
          Fifi et Rhino vont {{ storyBook[i].location }} pour
          {{ storyBook[i].purpose }}
          <span *ngIf="storyBook[i]?.companion"
            >avec {{ storyBook[i].companion }}</span
          >
        </span>
      </div>
    </li>
  </ul>
</div>

<span *ngIf="storyBookLoaded && iscurrStorySet" id="fullStory_{{ index }}">
  <div class="card">
    <span class="menu">
      <a alt="première histoire" class="nav" (click)="firstStory()"><<</a
      ><a alt="histoire précédente" class="nav" (click)="previousStory()"><</a>
      <p class="nav">{{ message }}</p>
      <a alt="histoire suivante" class="nav" (click)="nextStory()">></a
      ><a alt="dernière histoire" class="nav" (click)="lastStory()">>></a>
    </span>
    <button (click)="randomStory()">Histoire au hasard</button>
  </div>
  <div class="card">
    <h2>
      Fifi et Rhino vont {{ currStory.location }} pour
      {{ currStory.purpose }}
      <span *ngIf="currStory?.companion">avec {{ currStory.companion }}</span>
    </h2>
    <p>{{ currStory.text }}</p>
  </div>
  <div class="card">
    <div *ngIf="imagechanging" id="loading"></div>
    <img
      class="standalone"
      *ngIf="!imagechanging"
      src="{{ currStory.image }}"
      width="512"
      height="512"
    />
    <button
      *ngIf="isGeneric[index] && admin"
      [disabled]="imagechanging"
      (click)="changeImage(index)"
    >
      Changer l'image générique
    </button>
    <button *ngIf="isModified[index] && admin" (click)="saveStories()">
      Enregistrer la modification
    </button>
  </div>

  <div class="card">
    <span class="menu">
      <a alt="première histoire" class="nav" (click)="firstStory()"><<</a
      ><a alt="histoire précédente" class="nav" (click)="previousStory()"><</a>
      <p class="nav">{{ message }}</p>
      <a alt="histoire suivante" class="nav" (click)="nextStory()">></a
      ><a alt="dernière histoire" class="nav" (click)="lastStory()">>></a>
    </span>
    <button (click)="randomStory()">Histoire au hasard</button>
  </div>
</span>

<div class="card">
  <p>connecté en tant que : {{ login }}</p>
  <button (click)="logout()">Logout</button>
</div>
