<h1>Les histoires de Fifi et Rhino</h1>

<div>
  <button (click)="gotoStories()">Créer une nouvelle histoire</button>
  <button *ngIf="admin" (click)="gotoAdmin()">Administrer</button>
</div>

<div>
  <button (click)="getStories()" [disabled]="storyBookLoaded">
    Récupérer les Histoires
  </button>
</div>

<div *ngIf="storyBookLoading">
  <div *ngIf="storyBookLoading" id="loading"></div>
</div>

<span *ngIf="storyBookLoaded">
  <div>
    <span class="menu">
      <a alt="première histoire" class="nav" (click)="firstStory()"><<</a
      ><a alt="histoire précédente" class="nav" (click)="previousStory()"><</a>
      <p class="nav">{{ message }}</p>
      <a alt="histoire suivante" class="nav" (click)="nextStory()">></a
      ><a alt="dernière histoire" class="nav" (click)="lastStory()">>></a>
    </span>
    <button (click)="randomStory()">Histoire au hasard</button>
  </div>
  <div>
    <h2>
      Fifi et Rhino vont {{ currStory.location }} pour
      {{ currStory.purpose }}
      <span *ngIf="currStory?.companion">avec {{ currStory.companion }}</span>
    </h2>
    <p>{{ currStory.text }}</p>
  </div>
  <div>
    <div *ngIf="imagechanging" id="loading"></div>
    <img
      *ngIf="!imagechanging"
      src="{{ currStory.image }}"
      width="512"
      height="512"
    />
    <button
      *ngIf="isGeneric[index] && admin"
      [disabled]="imagechanging"
      (click)="changeImage(index)"
    >
      Changer l'image générique
    </button>
    <button *ngIf="isModified[index] && admin" (click)="saveStories()">
      Enregistrer la modification
    </button>
  </div>

  <div>
    <span class="menu">
      <a alt="première histoire" class="nav" (click)="firstStory()"><<</a
      ><a alt="histoire précédente" class="nav" (click)="previousStory()"><</a>
      <p class="nav">{{ message }}</p>
      <a alt="histoire suivante" class="nav" (click)="nextStory()">></a
      ><a alt="dernière histoire" class="nav" (click)="lastStory()">>></a>
    </span>
    <button (click)="randomStory()">Histoire au hasard</button>
  </div>
</span>

<div>
  <p>connecté en tant que : {{ login }}</p>
  <button (click)="logout()">Logout</button>
</div>
